<!-- <section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
        <img id="bgimg" src="assets/event/login.jpg" alt="">
        <div id="login_section">
            <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()">            
                <div class="form-group">
                    <div class="invalidError" *ngIf="(loginForm.get('email').invalid && loginFormDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)">
                        Email is Required*
                    </div>
                    <input type="email" class="form-control" required autocomplete="off" formControlName="email" placeholder="Registered Email ID">    
                </div>
                <div id="submitBtn">
                    <input name="login" id="loginbtn" class="btn" type="submit" value="Login">

                </div>
               
            </form>
            <br>
            <div id="already_reg" class="m-2">
                <p><span class="text-dark">Not Registered?</span> &nbsp; <a routerLink="/signup" class="h6" title="Signup">Signup</a></p>
            </div>
        </div>
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
  <span id="skip" *ngIf="isVideoPlayed">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
  </span>
    <video id="outerVideo" preload="auto" class="videoBg" (ended)="endVideo()">
      <source src="https://d3ep09c8x21fmh.cloudfront.net/tie_iid/outer.mp4" type="video/mp4">
    </video>
</div> -->

<!-- 
    <section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
        <div class="content_video"><video width="100%" autoplay="" loop="" id="lol">
                <source src="assets/event/Page.mp4" type="video/mp4">
            </video></div>
        <div id="login_section">
            <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()">
                <div class="form-group"><img src="assets/font/1.png" class="w-100">
                    <label style="font-size: 30px;">Sign
                        In</label><br><br>
                        <label>EGIL CODE</label>
                        <input type="text" class="form-control" required autocomplete="off" formControlName="egil">
                        <div class="invalidError" *ngIf="(loginForm.get('egil').invalid && loginFormDir.submitted) || (loginForm.get('egil').dirty && loginForm.get('egil').invalid)">
                            EGIL Code is Required*
                        </div>
                    <br><label>NAME</label>
                    <input type="text" class="form-control" required autocomplete="off" formControlName="name">
                    <div class="invalidError" *ngIf="(loginForm.get('name').invalid && loginFormDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)">
                        Name is Required*
                    </div>
                </div>
                <div id="submitBtn">
                    <input name="login" id="loginbtn" type="submit" value="Login" class="btn">
                </div>
                <img src="assets/event/logoIcon.jpg" width="40%">
            </form><br>
        </div>
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
    <span id="skip" *ngIf="isVideoPlayed">
      <a class="nav-link sign" (click)="skip()" title="skip" role="button">
          Skip</a>
    </span>
      <video id="outerVideo" preload="auto" class="videoBg" (ended)="endVideo()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/tie_iid/outer.mp4" type="video/mp4">
      </video>
  </div> 
 -->