
#login_section{   
    // position: absolute;
    // top: 35%;
    // left:5%;
    // width: 20%;
    // transform: translate(10%, -30%);
    top: 45%;
    width: 20%;
    position: absolute;
    left: 14%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
.ghost{
    width: 29%;
    position: absolute;
    top: 0;
    left: 0;
}

.w-100{
    margin-bottom:20px;

}
input[type="text"], input[type="email"]{
    background-color: #fff;
  //  margin-top: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px;
    margin-bottom:10px;
}
#submitBtn{
    float: left;
    width:100%;
}
   
    #loginbtn{
        margin: 12px 4px;
        background-color: #c056a0;
        color: white;
        width:100%;
        padding: 6px 28px;
    }

label{
    color:#c056a0;
}

@media only screen and (max-width: 850px) {
    .w-100{margin-bottom:0px;}
    #loginbtn{
        margin: 8px 4px;
        padding: 2px 28px;
    }
    #login_section{   
        top: 40%;
    }
  }