<div class="modal fade" id="quiz_modal" tabindex="-1" aria-labelledby="quiz_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">      
      <div class="modal-body p-0">
        <div id="modal_popup">
            <div id="close_modal_popup" (click)="closeModal()">&times;</div>    
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="quiz_modalLabel">Quiz</h5>
            </div>
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 col-xl-12">
                    <div *ngIf="showQuestion" id="QnA">
                      <ng-container *ngIf="questions.length > indx">
                        <ng-container *ngFor="let q of questions; let i = index">
                          <ng-container *ngIf="i==indx">
                            <div id="questionTitle"><h6>{{i+1}}. {{q.question}}</h6></div>
                            <div id="questionOption" *ngFor="let opt of q.options" (click)="chooseAnswer(q.id, opt)">
                              {{opt}}
                            </div></ng-container>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="questions.length === indx">
                        <div id="thanksQuiz" class="btn-primary">You have {{correct}} correct answer out of {{total}}</div>
                      </ng-container>
                    </div>
                </div>
              </div>
            </div>      
      </div>      
    </div>
  </div>
</div>