<section id="bg_section">
    <div id="content_section">
        <div class="bg" id="bg"></div>
        <div id="page_section">
            <div class="container-fluid">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <div id="page_content" class="card">
                            <!-- <div id="signupLogo">
                                <img src="assets/event/user.png" alt="">
                            </div> -->
                            <form [formGroup]="signupForm" #signupFormDir="ngForm" (ngSubmit)="submitSignup(signupFormDir)">            
                                <div class="form-group m-2">
                                    <div class="invalidError" *ngIf="(signupForm.get('name').invalid && signupFormDir.submitted) || (signupForm.get('name').dirty && signupForm.get('name').invalid)">
                                        Name is Required*
                                    </div>
                                    <input type="text" class="form-control" required autocomplete="off" formControlName="name" placeholder="Name">    
                                </div>
                                <div class="form-group m-2">
                                    <div class="invalidError" *ngIf="(signupForm.get('email').invalid && signupFormDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                                        Email is Required*
                                    </div>
                                    <input type="email" class="form-control" required autocomplete="off" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="Email ID">    
                                </div>
                                <div class="form-group m-2">
                                    <div class="invalidError" *ngIf="(signupForm.get('company').invalid && signupFormDir.submitted) || (signupForm.get('company').dirty && signupForm.get('company').invalid)">
                                        Company is Required*
                                    </div>
                                    <input type="text" class="form-control" required autocomplete="off" formControlName="company" placeholder="Company Name">    
                                </div>
                                <div class="form-group m-2">
                                    <div class="invalidError" *ngIf="(signupForm.get('designation').invalid && signupFormDir.submitted) || (signupForm.get('designation').dirty && signupForm.get('designation').invalid)">
                                        Designation is Required*
                                    </div>
                                    <input type="text" class="form-control" required autocomplete="off" formControlName="designation" placeholder="Designation">    
                                </div>
                                <div id="submitBtn" class="m-2">
                                    <input class="btn" type="submit" value="Signup">                
                                </div>
                               
                            </form>
                            <div id="already_reg" class="m-2">
                                <p><span class="text-dark">Already Registered?</span> &nbsp; <a routerLink="/login" class="h6" title="Login">Login Here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
