/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: "Fontfabric-UniNeueBold";
  src: url(./assets/font/Fontfabric-UniNeueBold.otf);
}
@font-face {
  font-family: "Fontfabric-UniNeueRegular";
  src: url(./assets/font/Fontfabric-UniNeueRegular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#underprogress{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: red;
  color: white;
  height: auto;
  z-index: 10000;
  text-align: center;
  p{
      margin: 10%;
      font-size: 45px;
  }
}
.submitBtn{
  background-color: #292f35; 
  color: white; 
  padding: 10px 28px;
  border-radius: 28px;
}
#skip{
  position: fixed;
  top: 10px;
  left: 20px;
  background: white;
  color: #4a4848;
  box-shadow: 0 0 4px 4px #e17044;
  z-index: 100000;
  // font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  // border: 1px solid #060a39;
  border-radius: 28px;
  cursor: pointer;
  a{
      text-transform: capitalize;
      color: #4a4848;
      padding: 10px 28px;
  }
}
body{
    margin: 0;
    font-size: 13px;
}
#bg_section{
    position: relative;
    #content_section{
        height: 100%;
        width: 100%;
        position: relative;
        #bgimg{
            width: 100%;
            height: auto;
        }
    }
}
#page_section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    height: 100vh;    
}

.videoBg{
    // position: fixed;
    z-index: -1;
    // overflow: hidden;
}
@media(min-aspect-ratio: 16/9){
    .videoBg {
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .videoBg {
        width: 100%;
        height: 100%;
    }
}
.invalidError{
    color:#ec4040d6; 
    font-size: 12px;
    margin: 5px;
}
.activeLink{
    color: #ee7142 !important;
}

.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #a0a6a77d;
  color: white;
  overflow: show;
  z-index: 100;
  p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);

  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #6bb0d0;
  border-bottom: 5px solid #6bb0d0;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  box-shadow: 0px 0px 4px 6px #5f5959;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// pulse
.pulsating-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 18px;
  
  &:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: red;
    // #01a4e9
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
  
  &:after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  }
}
.bg-primary{
  background-color: red !important;
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

// modal
#modal_popup{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    
}
#close_modal_popup{
  position: absolute;
  border: 3px solid white;
  top: -16px;
  right: -16px;
  line-height: 28px;
  font-size: 30px;
  background: #e40e38;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  text-align: center;
  color: white;
  font-weight: 500;
  z-index: 1000;
  cursor: pointer;
  transition: .5s;
}
#close_modal_popup:hover{
  transform: scale(1.1);
  transition: .5s;
}

// leftMenu, rightMenu
#leftMenu_section, #rightMenu_section{
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 0px 0px;
    color: #ffffff;
    background-color: #ffffff47;
    box-shadow: 0 0 2px 2px #ee7648;
  #leftMenu_list, #rightMenu_list{
      list-style-type: none;
      padding: 2px;
      li{
          margin: 10px;
          cursor: pointer;
          img{
              transition: .3s;
              -ms-transform: scale(.85); /* IE 9 */
              -webkit-transform: scale(.85); /* Safari 3-8 */
              transform: scale(.85); 
              transition: .3s;
              -ms-transition: .3s; /* IE 9 */
              -webkit-transition: .3s; /* Safari 3-8 */
          }
      }
  }
  #menu{
      li img:hover{
          transition: .3s;
          -ms-transform: scale(1.1); /* IE 9 */
          -webkit-transform: scale(1.1); /* Safari 3-8 */
          transform: scale(1.1); 
          transition: .3s;
          -ms-transition: .3s; /* IE 9 */
          -webkit-transition: .3s; /* Safari 3-8 */
      }
  }
}
#leftMenu_section{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 0;

}
#rightMenu_section{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  right: 0;

}
// scroll
 /* width */
 ::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292f35;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292f43;
}

// pointers section
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9{
  position: absolute;
  height: 4%;
  width: 4%;
  // background-color: black;
  cursor: pointer;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}


@media only screen and (max-width: 900px) {
  .tooltip-inner {
    display:none !important;
  }
  .w-100{margin-bottom:0px;}
}