<div class="modal fade" id="pdf_modal" tabindex="-1" aria-labelledby="pdf_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="pdf_modalLabel">Agenda</h5>
            <!-- {{rName | titlecase}} -->
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <div>
                <!-- <div [ngSwitch]="rName"> -->
                  <!-- <div *ngSwitchCase="'feedback'">
                    <iframe _ngcontent-vet-c14="" id="iframe_feedback" frameborder="0" height="550"
                      src="https://forms.gle/bJLEsiJUpLHgx4vn6" width="100%"></iframe>
                  </div> -->
                  <!-- *ngSwitchCase="'agenda'" -->
                  <div>
                    <embed src="assets/event/agenda.jpg" frameborder="0"
                      width="100%">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>